Add your import statements and the database connection statements in the below code block

Database file path = '/course/data/CSE-578/dinofunworld.db'

In [60]:
#your code here
import sqlite3
connection = sqlite3.connect('/course/data/CSE-578/dinofunworld.db')
cursor = connection.cursor()

**Question 1:** 

What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction. Please print your output in the cell below.

In [61]:
### TEST FUNCTION: test_question1
# DO NOT REMOVE THE LINE ABOVE
# your code here
# List all tables in the database
cursor.execute('''
    SELECT Name 
    FROM attraction
    JOIN (
        SELECT attraction, COUNT(*) as visit_count 
        FROM checkin 
        GROUP BY attraction
        ORDER BY visit_count DESC
        LIMIT 1
    ) AS most_popular
    ON attraction.AttractionID = most_popular.attraction
''')
question1_result = cursor.fetchone()[0]
print(question1_result)

Atmosfear

**Question 2:** 

What ride (note that not all attractions are rides) has the second longest average visit time?

**Note:** Your output should be the name of the ride. Please print your output in the cell below.

In [62]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here
cursor.execute('''
    SELECT Name 
    FROM attraction
    JOIN (
        SELECT attraction, AVG(duration) as avg_duration
        FROM checkin
        WHERE type = "actual"
        GROUP BY attraction
        ORDER BY avg_duration DESC
        LIMIT 1 OFFSET 1
    ) AS second_longest
    ON attraction.AttractionID = second_longest.attraction
''')
question2_result = cursor.fetchone()[0]
print(question2_result)

Flight of the Swingodon

**Question 3:** 

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering. Please print your output in the cell below.

In [64]:
### TEST FUNCTION: test_question3
# DO NOT REMOVE THE LINE ABOVE
# your code here
# Check if there are any attractions in the 'Food' category
# Check if any 'Food' attractions have check-ins
# Check unique values in the 'type' field in the 'attraction' table
cursor.execute('''
    SELECT Name
    FROM attraction
    JOIN (
        SELECT attraction, COUNT(DISTINCT visitorID) as visitor_count
        FROM checkin
        GROUP BY attraction
        ORDER BY visitor_count ASC
    ) AS fewest_visitors
    ON attraction.AttractionID = fewest_visitors.attraction
    WHERE type = 'Fast Food'
    LIMIT 1
''')
question3_result = cursor.fetchone()[0]
print(question3_result)

Theresaur Food Stop